In [181]:
import pandas as pd
import statsmodels.api as sm

In [182]:
data = pd.read_csv("general_data.csv")

In [196]:
data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [159]:
data.isna().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [184]:
data = data.fillna(method='bfill')
data = data.dropna()
data.isna().sum()

Age                        0
Attrition                  0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
EmployeeCount              0
EmployeeID                 0
Gender                     0
JobLevel                   0
JobRole                    0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
Over18                     0
PercentSalaryHike          0
StandardHours              0
StockOptionLevel           0
TotalWorkingYears          0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

In [185]:
y = data[["Attrition"]]
y.head()

  Attrition
0        No
1       Yes
2        No
3        No
4        No

In [186]:
x = data.drop(["Attrition"],axis =1)

In [187]:
x.dtypes

Age                          int64
BusinessTravel              object
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeID                   int64
Gender                      object
JobLevel                     int64
JobRole                     object
MaritalStatus               object
MonthlyIncome                int64
NumCompaniesWorked         float64
Over18                      object
PercentSalaryHike            int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears          float64
TrainingTimesLastYear        int64
YearsAtCompany               int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [188]:
from sklearn.preprocessing import LabelEncoder

In [189]:
le = LabelEncoder()

In [190]:
for i in x.columns:
    if x[i].dtypes == "O":
        x[i] = le.fit_transform(x[i])
    else:
        pass

In [191]:
y["Attrition"] = le.fit_transform(y["Attrition"])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [192]:
y.head()

   Attrition
0          0
1          1
2          0
3          0
4          0

In [193]:
x.head()

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,JobLevel,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,2,2,6,2,1,1,1,0,1,...,1.0,0,11,8,0,1.0,6,1,0,0
1,31,1,1,10,1,1,1,2,0,1,...,0.0,0,23,8,1,6.0,3,5,1,4
2,32,1,1,17,4,4,1,3,1,4,...,1.0,0,15,8,3,5.0,2,5,0,3
3,38,0,1,2,5,1,1,4,1,3,...,3.0,0,11,8,3,13.0,5,8,7,5
4,32,2,1,10,1,3,1,5,1,1,...,4.0,0,12,8,2,9.0,2,6,0,4

In [194]:
x.corr()

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,JobLevel,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
Age,1.000000,0.024708,-0.010808,0.006790,-0.035713,0.043153,NaN,0.008520,-0.039418,-0.002879,...,0.299605,NaN,-0.033073,NaN,-0.031685,0.680165,-0.027517,0.311323,0.216498,0.202030
BusinessTravel,0.024708,1.000000,-0.010916,0.024322,0.002743,-0.015539,NaN,-0.002823,-0.039357,0.046121,...,0.021793,NaN,-0.030941,NaN,0.003808,0.033912,-0.042251,-0.014890,-0.032626,-0.022824
Department,-0.010808,-0.010916,1.000000,0.012402,-0.004588,0.013784,NaN,-0.003262,0.003250,0.002917,...,-0.002345,NaN,-0.007939,NaN,0.010409,-0.018995,0.013153,0.010341,0.014874,0.018174
DistanceFromHome,0.006790,0.024322,0.012402,1.000000,-0.008688,-0.024979,NaN,-0.002010,-0.044633,-0.037322,...,-0.012971,NaN,0.038613,NaN,0.011668,0.009089,-0.010322,0.030518,0.002158,0.020881
Education,-0.035713,0.002743,-0.004588,-0.008688,1.000000,0.012318,NaN,-0.009716,-0.016564,0.045747,...,-0.017572,NaN,-0.040518,NaN,0.001279,-0.010562,0.010432,0.006040,0.022485,0.005332
EducationField,0.043153,-0.015539,0.013784,-0.024979,0.012318,1.000000,NaN,-0.001041,-0.005739,-0.019521,...,0.009454,NaN,-0.011102,NaN,0.021742,0.021700,-0.022128,0.022842,0.048151,0.021494
EmployeeCount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EmployeeID,0.008520,-0.002823,-0.003262,-0.002010,-0.009716,-0.001041,NaN,1.000000,-0.013492,-0.003281,...,-0.001789,NaN,-0.004114,NaN,-0.013894,-0.000597,-0.011178,0.003192,0.000157,0.008046
Gender,-0.039418,-0.039357,0.003250,-0.044633,-0.016564,-0.005739,NaN,-0.013492,1.000000,-0.026846,...,-0.065727,NaN,0.012006,NaN,0.019413,-0.027340,-0.030651,-0.017712,-0.021860,0.004186
JobLevel,-0.002879,0.046121,0.002917,-0.037322,0.045747,-0.019521,NaN,-0.003281,-0.026846,1.000000,...,-0.011266,NaN,0.010962,NaN,0.000981,-0.037050,-0.032490,-0.064227,-0.060808,-0.055245
JobRole,0.011500,-0.027064,-0.025581,-0.009774,0.030178,0.013237,NaN,0.006162,0.003910,-0.014778,...,-0.022163,NaN,-0.013666,NaN,0.023785,-0.012616,0.052349,-0.012377,-0.014579,0.011009
MaritalStatus,-0.094940,0.024209,-0.044800,-0.027125,0.025026,-0.051231,NaN,0.001929,-0.008857,-0.022046,...,-0.036436,NaN,0.006081,NaN,0.014433,-0.077603,0.013658,-0.059257,-0.030837,-0.038122
MonthlyIncome,-0.044298,-0.037569,-0.032263,-0.021505,0.006414,0.008887,NaN,0.007427,0.007572,0.047313,...,-0.019842,NaN,0.004281,NaN,0.026886,-0.033824,0.050272,0.001110,0.065233,0.024378
NumCompaniesWorked,0.299605,0.021793,-0.002345,-0.012971,-0.017572,0.009454,NaN,-0.001789,-0.065727,-0.011266,...,1.000000,NaN,0.029767,NaN,0.016607,0.238376,-0.031739,-0.116196,-0.035203,-0.107686
Over18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PercentSalaryHike,-0.033073,-0.030941,-0.007939,0.038613,-0.040518,-0.011102,NaN,-0.004114,0.012006,0.010962,...,0.029767,NaN,1.000000,NaN,0.012365,-0.018447,-0.036927,-0.029272,-0.029495,-0.040604
StandardHours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StockOptionLevel,-0.031685,0.003808,0.010409,0.011668,0.001279,0.021742,NaN,-0.013894,0.019413,0.000981,...,0.016607,NaN,0.012365,NaN,1.000000,0.002227,-0.069432,0.008375,0.019118,0.018052
TotalWorkingYears,0.680165,0.033912,-0.018995,0.009089,-0.010562,0.021700,NaN,-0.000597,-0.027340,-0.037050,...,0.238376,NaN,-0.018447,NaN,0.002227,1.000000,-0.040041,0.627411,0.403881,0.458941
TrainingTimesLastYear,-0.027517,-0.042251,0.013153,-0.010322,0.010432,-0.022128,NaN,-0.011178,-0.030651,-0.032490,...,-0.031739,NaN,-0.036927,NaN,-0.069432,-0.040041,1.000000,-0.009192,0.015990,-0.014053
YearsAtCompany,0.311323,-0.014890,0.010341,0.030518,0.006040,0.022842,NaN,0.003192,-0.017712,-0.064227,...,-0.116196,NaN,-0.029272,NaN,0.008375,0.627411,-0.009192,1.000000,0.618649,0.769122
YearsSinceLastPromotion,0.216498,-0.032626,0.014874,0.002158,0.022485,0.048151,NaN,0.000157,-0.021860,-0.060808,...,-0.035203,NaN,-0.029495,NaN,0.019118,0.403881,0.015990,0.618649,1.000000,0.510257
YearsWithCurrManager,0.202030,-0.022824,0.018174,0.020881,0.005332,0.021494,NaN,0.008046,0.004186,-0.055245,...,-0.107686,NaN,-0.040604,NaN,0.018052,0.458941,-0.014053,0.769122,0.510257,1.000000

In [200]:
x_constant = sm.add_constant(x)
x_constant = x_constant.drop(["Over18","StandardHours","EmployeeCount"],axis = 1)

In [204]:
x_constant.shape

(4409, 20)

In [205]:
y.shape

(4409, 1)

In [206]:
Logistic = sm.Logit(y,x_constant)

In [207]:
result = Logistic.fit()

Optimization terminated successfully.
         Current function value: 0.393080
         Iterations 7

In [209]:
result.summary2()

<class 'statsmodels.iolib.summary2.Summary'>
"""
                            Results: Logit
=======================================================================
Model:                Logit              Pseudo R-squared:   0.110
Dependent Variable:   Attrition          AIC:                3506.1760
Date:                 2020-09-03 18:41   BIC:                3634.0041
No. Observations:     4409               Log-Likelihood:     -1733.1
Df Model:             19                 LL-Null:            -1947.7
Df Residuals:         4389               LLR p-value:        3.5963e-79
Converged:            1.0000             Scale:              1.0000
No. Iterations:       7.0000
-----------------------------------------------------------------------
                         Coef.  Std.Err.    z    P>|z|   [0.025  0.975]
-----------------------------------------------------------------------
Age                     -0.0299   0.0060 -4.9732 0.0000 -0.0416 -0.0181
BusinessTravel          -0.0129   0.0620 -0.2076 0.8355 -0.1345  0.1087
Department              -0.2384   0.0786 -3.0336 0.0024 -0.3924 -0.0844
DistanceFromHome        -0.0012   0.0054 -0.2240 0.8228 -0.0117  0.0093
Education               -0.0597   0.0403 -1.4827 0.1382 -0.1386  0.0192
EducationField          -0.0955   0.0329 -2.9024 0.0037 -0.1600 -0.0310
EmployeeID              -0.0000   0.0000 -0.1961 0.8446 -0.0001  0.0001
Gender                   0.0879   0.0883  0.9955 0.3195 -0.0852  0.2610
JobLevel                -0.0225   0.0391 -0.5760 0.5646 -0.0992  0.0541
JobRole                  0.0385   0.0176  2.1844 0.0289  0.0040  0.0731
MaritalStatus            0.5913   0.0614  9.6288 0.0000  0.4710  0.7117
MonthlyIncome           -0.0000   0.0000 -1.9594 0.0501 -0.0000  0.0000
NumCompaniesWorked       0.1156   0.0183  6.3092 0.0000  0.0797  0.1516
PercentSalaryHike        0.0130   0.0104  1.2596 0.2078 -0.0073  0.0334
StockOptionLevel        -0.0630   0.0514 -1.2256 0.2203 -0.1637  0.0377
TotalWorkingYears       -0.0588   0.0117 -5.0117 0.0000 -0.0817 -0.0358
TrainingTimesLastYear   -0.1448   0.0338 -4.2889 0.0000 -0.2110 -0.0786
YearsAtCompany           0.0131   0.0183  0.7183 0.4726 -0.0227  0.0489
YearsSinceLastPromotion  0.1317   0.0204  6.4497 0.0000  0.0917  0.1717
YearsWithCurrManager    -0.1395   0.0221 -6.3126 0.0000 -0.1828 -0.0962
=======================================================================

"""