### Question 1:
Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only

In [1]:
company_emails = ["steve@apple.com","marissa_mayer@yahoo.com","sundar@google.com","jeff@amazon.com","bruce@wayne.org", "tim@aol.com", "afshin.arab@psu.edu"]

In [2]:
def company_name(emails): #using lists and strings
    cn = []
    pn_cn = []
    cn_str = ""
    for i in emails:
        t1 = i.split("@")[1].split(".")[0]
        t2 = t1.upper() if len(t1)<=3 else t1.title()
        cn.append(t2)   
    for j in cn:
        cn_str += j + ", "
    print (f'Company names are {cn_str[:-2].rsplit(",",1)[0]} and{cn_str[:-2].rsplit(",",1)[1]} where:')
    for k in emails:
        c1 = k.split("@")[1].split(".")[0]
        c2 = c1.upper() if len(c1)<=3 else c1.title()
        pn = f'{k.split("@")[0].title().replace("_"," ").replace("."," ")} works at {c2}'   
        print(pn)

In [3]:
company_name(company_emails)

Company names are Apple, Yahoo, Google, Amazon, Wayne, AOL and PSU where:
Steve works at Apple
Marissa Mayer works at Yahoo
Sundar works at Google
Jeff works at Amazon
Bruce works at Wayne
Tim works at AOL
Afshin Arab works at PSU

In [4]:
def company_names_alt(emails): #alternative method using dictionary and list
        line = "-"*66 #decoration line
        print(line)
        the_dict = {} #the dictionary which stores the person_name:company_name
        for i in emails:
            #cnr = company_name_raw
            cnr = i.split("@")[1].split(".")[0] #gets the company name (raw) 
            company_name_final = cnr.upper() if len(cnr)<=3 else cnr.title() #changes the name to upper or title (final)
            person_name = i.split("@")[0].title().replace("_"," ").replace(".", " ")
            the_dict [person_name] = company_name_final #storing the values/keys in dictionary
        *other, last = (list(the_dict.values())) #separating the last value from the previous ones;
        temp_str = ', '.join(str(s) for s in other) #making the first string of company names(without the last company)
        print(f"Name of the companies are {temp_str}, and {last} where:")
        for key, value in iter(the_dict.items()): #generating the loop for the person's name and company name string
            print(f">> {key} works at {value}")
        print(line)

In [5]:
company_names_alt (company_emails)

------------------------------------------------------------------
Name of the companies are Apple, Yahoo, Google, Amazon, Wayne, AOL, and PSU where:
>> Steve works at Apple
>> Marissa Mayer works at Yahoo
>> Sundar works at Google
>> Jeff works at Amazon
>> Bruce works at Wayne
>> Tim works at AOL
>> Afshin Arab works at PSU
------------------------------------------------------------------

### Question 2:
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically

In [6]:
example = "hello,welcome,world,my,is,play,everyone,name,apple,pizza,bone,moon,cat"
def word_sorter (string):
    splitted = sorted(string.split(","))
    sorted_str = ', '.join(str(i) for i in splitted)
    print((sorted_str))

In [7]:
word_sorter(example)

apple, bone, cat, everyone, hello, is, moon, my, name, pizza, play, welcome, world

# --------------------------------------------------------------------------------

### Question 3:
Create your own Jupyter Notebook for Sets.
Reference link: https://www.w3schools.com/python/python_sets.asp

### Set
A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

In [8]:
# Create a Set:
thisset = {"test", "pass", "fail"}
print(thisset)

{'fail', 'test', 'pass'}

In [9]:
# Access Items
# You cannot access items in a set by referring to an index, since sets are unordered the items has no index.
"""But you can loop through the set items using a for loop, or ask if a specified value is present in a set, 
by using the in keyword."""
# Loop through the set, and print the values:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
    print(x)

cherry
banana
apple

### Adding and Removing Items

In [10]:
# Change Items
"""Once a set is created, you cannot change its items, but you can add new items;"""
# Add Items
"""
To add one item to a set use the add() method.
To add more than one item to a set use the update() method
"""
# Example:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'cherry', 'banana', 'orange', 'apple'}

In [11]:
# Get the Length of a Set
"""To determine how many items a set has, use the len() method"""
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

In [12]:
# Remove Item
"""To remove an item in a set, use the remove(), or the discard() method."""
# Example
"""Remove "banana" by using the remove() method:"""
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'cherry', 'apple'}

In [13]:
# Discard Item
"""Remove "banana" by using the discard() method:"""
"""If the item to remove does not exist, discard() will NOT raise an error."""
"""You can also use the pop(), method to remove an item, but this method will remove the last item. 
Remember that sets are unordered, so you will not know what item that gets removed.
The return value of the pop() method is the removed item."""
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'cherry', 'apple'}

In [14]:
# The clear() method empties the set:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

In [15]:
# The del keyword will delete the set completely:
set2 = {"apple", "banana", "cherry"}
del set2
print(set2)
#It will give us an error, because the set is no longer exist;

NameError: name 'set2' is not defined

### Join Two Sets
There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

In [16]:
# The union() method returns a new set with all items from both sets:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{'c', 1, 2, 'b', 'a', 3}

In [17]:
# The update() method inserts the items in set2 into set1:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

{'c', 1, 2, 'b', 'a', 3}

# Set Methods
### Python has a set of built-in methods that you can use on sets.
    add()			Adds an element to the sets

    clear()			Removes all the elements from the set

    copy()			Returns a copy of the set

    difference()	Returns a set containing the difference between two or more sets

    difference_update()	Removes the items in this set that are also included in another, specified set

    discard()		Remove the specified item

    intersection()	Returns a set, that is the intersection of two other sets

    intersection_update()	Removes the items in this set that are not present in other, specified set(s)

    isdisjoint()	Returns whether two sets have a intersection or not

    issubset()		Returns whether another set contains this set or not

    issuperset()	Returns whether this set contains another set or not

    pop()			Removes an element from the set

    remove()		Removes the specified element

    symmetric_difference()	Returns a set with the symmetric differences of two sets

    symmetric_difference_update()	inserts the symmetric differences from this set and another

    union()			Return a set containing the union of sets

    update()		Update the set with the union of this set and others

### Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

In [18]:
my_numbers = "1,2,3,4,5,6,7,9,10,11,12,14,19,22,23,25,41"
def find_missing (string):
    temp = []
    for i in string.split(","):
        temp.append(int(i))
    return str([x for x in range(temp[0],temp[-1]+1) if x not in temp])

In [19]:
find_missing(my_numbers)

'[8, 13, 15, 16, 17, 18, 20, 21, 24, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40]'

### Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

In [56]:
my_list = "1,2,3,4,5,5,6,7,8,9,A,9,B,12,13,2,3,B,13,14"

def remove_dups(string):
    temp = []
    temp_backup = []
    for i in string.split(","):  #converting string to list
        temp.append(i)
    for i in temp:
        if i in temp_backup:
            continue
        else:
            temp_backup.append(i)
    temp_str = ' '.join(str(s) for s in temp_backup)
    print(temp_str)

In [57]:
remove_dups(my_list)

1 2 3 4 5 6 7 8 9 A B 12 13 14